/* Gallery Section */

.gallery {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 20px;
  border-radius: 5px;
  font-family: "Cormorant Upright", serif;
  font-size: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optionally, add a shadow */
}

.light-theme .gallery {
  background-color: transparent;
}

.dark-theme .gallery {
  background-color: rgba(0, 0, 0, 0.03);
}

.caption {
  font-size: 1.2rem;
}

.painting-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between images as needed */
}

.painting {
  margin-bottom: 15px;
  flex: 0 0 calc(33.33% - 10px); /* Set each painting to occupy 33.33% (1/3) of the available width */
  max-width: calc(
    33.33% - 10px
  ); /* Set max width to ensure consistent spacing */
  display: flex; /* Enable flex layout for each painting container */
  flex-direction: column; /* Stack image and caption vertically */
  justify-content: flex-end; /* Align items to the bottom */
}

.painting-image {
  width: 100%;
  height: auto;
  /* Set a fixed height for all images */
  max-height: 450px; /* Adjust the desired fixed height */
  object-fit: contain; /* Maintain aspect ratio while covering the container */
  margin-bottom: 1rem;
  transition: transform 0.3s ease; /* Add scaling transition */
}

.painting-image:hover {
  cursor: pointer;
  transform: scale(1.05); /* Scale up by 5% */
}

.painting-image-admin {
  width: 100%;
  height: auto;
  /* Set a fixed height for all images */
  max-height: 450px; /* Adjust the desired fixed height */
  object-fit: contain; /* Maintain aspect ratio while covering the container */
  margin-bottom: 1rem;
}

/* Painting Like Button */

.like-button {
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease;
  align-self: center;
}

.like-button:hover {
  transform: scale(0.9);
}

.like-button .liked {
  background-color: #ff5733; /* Example color for liked button */
  color: white; /* Text color for liked button */
}

/* Painting Modal */

/* CSS for the modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the modal is on top of other elements */
}

/* CSS for the modal */
.modal {
  width: 90%; /* Set your desired fixed width */
  height: 70%; /* Set your desired fixed height */
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow to the frame */
}

.light-theme .modal {
  background-color: #fff;
}

.dark-theme .modal {
  background-color: #333;
}

/* CSS for the close button */
.close-button {
  position: absolute;
  right: 2rem;
  cursor: pointer;
  font-size: 4rem;
}

.close-button:hover {
  scale: 1.2;
}

.light-theme .close-button {
  color: #333;
}

.dark-theme .close-button {
  color: #fff;
}

/* CSS for the modal content */
.modal-content {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS for the modal image */
.modal-image {
  min-width: 70%;
  min-height: 70%;
  max-width: 95%;
  max-height: 95%;
  object-fit: contain; /* Make the image fill the space while preserving aspect ratio */
}

/* CSS for the modal caption */
.modal-caption {
  margin-top: 10px;
  font-size: 16px;
}

.dark-theme .modal-caption {
  color: #fff;
}

.light-theme .modal-caption {
  color: #333;
}

/* CSS to hide scrollbars when modal is open */
body.modal-open {
  overflow: hidden;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .painting {
    flex: 0 0 calc(50% - 10px); /* Set each painting to occupy 33.33% (1/3) of the available width */
    max-width: calc(
      50% - 10px
    ); /* Set max width to ensure consistent spacing */
    /* Add any individual painting container styles here */
  }
}

@media (max-width: 400px) {
  .painting {
    flex: 0 0 100%; /* Set each painting to occupy 33.33% (1/3) of the available width */
    max-width: 100%; /* Set max width to ensure consistent spacing */
    /* Add any individual painting container styles here */
  }
}
