/* Dark/Light Theme Switcher */

.dark-light-switch {
  cursor: pointer;
  margin-right: 5%;
  transition: transform 0.3s ease; /* Add scaling transition */
}

.dark-light-switch:hover {
  transform: scale(1.2);
}
